h2 {color: red; text-align: center;} /* Set <h2> elements to be aligned to the centre of the browser with red text */
h3 {color: green; text-align: center;} /* Set <h3> elements to be aligned to the centre of the browser with green text */
p {text-align: center;} /* Align the text of <p> elements to the centre of the browser */